extends ../layout/layout.pug

block preload
  <link rel=preload as=image href="/img/mask.png">


block content
  header.header
    h1.header-logo plou
    p Front-end developper<br>Teacher
    p.sub-heading Based in Lille, France<br> I'm available to work anywhere.
    footer.footer
      img.footer-logo(src="/img/logo.svg")
      ul.footer-contact
        li.footer-contact-item.link-medium
          a(href="https://medium.com/@Plou", target="_blank") medium.com/@Plou
        li.footer-contact-item.link-twitter
          a(href="https://twitter.com/devPlou", target="_blank") twitter.com/devPlou
        li.footer-contact-item.link-github
          a(href="https://github.com/Plou", target="_blank") github.com/Plou
        li.footer-contact-item.link-mail
          a(href="mailto:hi@plou.io") @plou.io

  .content
    section
      .content-text
        h1 Hi there!
        p I'm working with web agencies and design teams to build websites and living style guides.<br>I also enjoy working with developers and designers teams to improve their workflow and front-end skills.
        p Aside from that you can find me teaching CMS in university or running workshops about web technologies.
    section
      .content-text
        h1 What can I do for you?
      .skill-list.list-inline
        svg(id="tile-ui", width="275px", height="275px", viewBox="0 0 275 275", version="1.1", xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink", class="skill-list-item")

        svg(id="tile-ii", width="275px", height="275px", viewBox="0 0 275 275", version="1.1", xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink", class="skill-list-item")

        svg(id="tile-wt", width="275px", height="275px", viewBox="0 0 275 275", version="1.1", xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink", class="skill-list-item")

        svg(id="tile-cw", width="275px", height="275px", viewBox="0 0 275 275", version="1.1", xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink", class="skill-list-item")
