extends ../layout/layout.pug

block preload
  <link rel=preload as=image href="/img/mask.jpg">


block content

  //- h1 plou
  //- p Front-end developper
  .skill-list.list-inline
    svg(id="tile-ui", width="275px", height="275px", viewBox="0 0 275 275", version="1.1", xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink", class="skill-list-item")

    svg(id="tile-ii", width="275px", height="275px", viewBox="0 0 275 275", version="1.1", xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink", class="skill-list-item")

    svg(id="tile-wt", width="275px", height="275px", viewBox="0 0 275 275", version="1.1", xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink", class="skill-list-item")

    svg(id="tile-cw", width="275px", height="275px", viewBox="0 0 275 275", version="1.1", xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink", class="skill-list-item")
