extends ../layout/layout.pug

include ../components/_modal.pug

block preload
  <link rel=preload as=image href="/img/mask.png">


block content
  section
    .content-text
      h1 Hi there!
      p I'm working with web agencies and design teams to build <strong>solid, perfomant, accessible</strong> websites and living style guides. I also enjoy working with developers and designers teams to improve their workflow and front-end skills.
      p Aside from that you can find me teaching CMS in university or running workshops about web technologies.

  section
    .content-text
      h1 What can I do for you?

    .skill-list.list-inline
      li.skill-list-item
        svg#tile-ui.skill-list-svg(viewBox="0 0 275 275", width="275", height="275", version="1.1", xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink")
        +modal('UI Systems', "To tame technical debt and scallability with the help of the design team, we'll build a style guide which will help craft consistent interfaces")

      li.skill-list-item
        svg#tile-ii.skill-list-svg(viewBox="0 0 275 275", width="275", height="275", version="1.1", xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink")
        +modal('Interactive<br>Interfaces', "With the help of the designers I can help you build meaningful interactions and animations.")

      li.skill-list-item
        svg#tile-wt.skill-list-svg(viewBox="0 0 275 275", width="275", height="275", version="1.1", xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink")
        +modal('Wordpress<br>Typo3', "While building complexe layout, together with the editors we'll build a simple and powerful administration system.")

      li.skill-list-item
        svg#tile-cw.skill-list-svg(viewBox="0 0 275 275", width="275", height="275", version="1.1", xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink")
        +modal('Workshops<br>Courses', "From student training to front-end masterclass, let's learn and improve together.")
