extends ../layout/layout.pug


block preload
  <link rel=preload as=image href="/img/mask.jpg">
  <link rel=preload as=image href="/img/logo.svg">


block content
  
  article.resume(lang="fr")      
    section.group
      div.group__header
        h2.group__title Expériences
      div.group__content
        ul.group__list.group__list--solid
          li.group__list__item.experience
            div.experience__content
              h3.experience__title Challangel - Roubaix
              p.experience__description Développeur Web 
            div.experience__meta
              p.experience__context CDI
              p.experience__date 2020-2025
          li.group__list__item.experience
            div.experience__content
              h3.experience__title ISEFAC Alternance Paris - Lille
              p.experience__description Formation Web
            div.experience__meta
              p.experience__context Intervenant
              p.experience__date depuis 2017
          li.group__list__item.experience
            div.experience__content
              h3.experience__title Inouït - Lille
              p.experience__description Développeur Web
            div.experience__meta
              p.experience__context CDI
              p.experience__date 2010-2017
          li.group__list__item.experience
            div.experience__content
              h3.experience__title Fabrication et maintenance de site web
              p.experience__description 
            div.experience__meta
              p.experience__context Freelance
              p.experience__date depuis 2015
          li.group__list__item.experience
            div.experience__content
              h3.experience__title DUT MMI de Lens 
              p.experience__description Formation module CMS
            div.experience__meta
              p.experience__context Intervenant
              p.experience__date 2016 -2017

    section.group
      div.group__header
        h2.group__title Compétences
      div.group__content
        ul.group__list.group__list--solid
          li.group__list__item.skill Création d'interfaces web sur mesure (React, Next, Vue)
          li.group__list__item.skill Intégration CMS avancée  (TYP03, Wordpress...)
          li.group__list__item.skill Mise en place de guides de styles en collaboration avec toute l'équipe de création
          li.group__list__item.skill Optimisation des méthodes et outils de développement
          li.group__list__item.skill.skill--gap Formation aux outils de développements modernes<br> Formation à l'intégration CMS<br> Formation à la création d'interface web
                  
    section.group
      div.group__header
        h2.group__title Formations
        p.group__subtitle Programmation<br>& communication<br>multimédia
      div.group__content
        ul.group__list.group__list--solid
          li.group__list__item.experience
            div.experience__content
              h3.experience__title Bachelor of Digital Media / Licence Pro
              p.experience__description Activités et techniques de communication
            div.experience__meta
              p.experience__context Edinburgh
              p.experience__date 2009-2010
          li.group__list__item.experience
            div.experience__content
              h3.experience__title DUT
              p.experience__description Services et réseaux de communication (MMI)
            div.experience__meta
              p.experience__context Blois
              p.experience__date 2006-2009
    
  article.experiences(lang="fr")      
    header.experiences__header
      h2 Projets

    section.group
      div.group__header
        h3.group__title Challangel
        p.group__subtitle 2020 — 2024

      div.group__content
        ul.group__list.group__list--dashed
          li.group__list__item.experience
            div.experience__content
              p.experience__title Développeur web
              p.experience__skills Symfony, HTML, CSS, Javascript
              p.experience__job Plateforme de création de communautés en SaaS
              p.experience__job-list-title Missions :
              ul.experience__job-list 
                li.experience__job-list__item Amélioration continue
                li.experience__job-list__item Refonte complète de l'interface UX/UI
                li.experience__job-list__item Refonte graduelle et complète du javascript
                li.experience__job-list__item Rédaction et maintient à jour de la documentation
    section.group
      div.group__header
        h3.group__title Inouït
        p.group__subtitle 2010 — 2017

      div.group__content
        ul.group__list.group__list--dashed
          li.group__list__item.job-title
            div.job-title__content
              p.job-title__title Développeur web
              p.job-title__skills TYPO3, Symfony, Worpdress, HTML, CSS, Javascript
          li.group__list__item.experience
            div.experience__content
              h4.experience__title Les Dunes de Flandre
              p.experience__skills CoffeeScript, Backbone, LESS
              p.experience__job Paysage interactif pour promouvoir les offres touristiques régionales.
              p.experience__job-list-title Réalisations :
              ul.experience__job-list 
                li.experience__job-list__item Récupération de données d'une API Symphony
                li.experience__job-list__item Création d'un panorama animé
                li.experience__job-list__item Moteur de recherche des offres et événements.
                li.experience__job-list__item Optimisation pour mobiles et tablettes
          li.group__list__item.experience
            div.experience__content
              h4.experience__title Médiathèque de Roubaix
              p.experience__skills CoffeeScript, Backbone, Sass, Google Map
              p.experience__job Jeu interactif et géolocalisé, présentant la rénovation urbaine à travers des documents d'archives.
              p.experience__job-list-title Réalisations :
              ul.experience__job-list 
                li.experience__job-list__item Conception et gamiﬁcation
                li.experience__job-list__item Integration de Google map API
                li.experience__job-list__item Afﬁchage des données d'une API Symphony
                li.experience__job-list__item Optimisation pour mobiles et tablettes
          li.group__list__item.experience
            div.experience__content
              h4.experience__title Conseil Régional du Tourisme
              p.experience__skills LESS, Javascript
              p.experience__job Outils de gestion de ressources touristiques et de création de ﬂux ﬁltrés de ces ressources.
              p.experience__job-list-title Réalisations :
              ul.experience__job-list 
                li.experience__job-list__item Adaptation de l'outil existant à la maquette
                li.experience__job-list__item Suivi des évolutions permanentes de l'outils
          li.group__list__item.experience
            div.experience__content
              h4.experience__title EPADESA, La défense Seine-arche
              p.experience__skills Wordpress
              p.experience__job Intranet de partage d'information et de documents.
          li.group__list__item.experience
            div.experience__content
              h4.experience__title EPADESA, La défense Seine-arche
              p.experience__skills TYPO3, Javascript
              p.experience__job Module d'administration et de présentation des projets urbains sur fond de carte.
              p.experience__job-list-title Réalisations :
              ul.experience__job-list 
                li.experience__job-list__item Développement de l'extension TYPO3
                li.experience__job-list__item Création de la carte des projets urbains
                li.experience__job-list__item Moteur de recherche des projets
          li.group__list__item.experience
            div.experience__content
              h4.experience__title Bonduelle
              p.experience__skills TYPO3, Javascript
              p.experience__job Site corporate présentant le groupe et son effort de développement durable
              p.experience__job-list-title Réalisations :
              ul.experience__job-list 
                li.experience__job-list__item Conception des outils d'administration avancée
                li.experience__job-list__item Intégration TYPO3
                li.experience__job-list__item Création de modules intéractifs
          li.group__list__item.experience
            div.experience__content
              h4.experience__title Bureau Veritas
              p.experience__skills HTML, CSS, jQuery
              p.experience__job Création des templates pour l'intranet et le site mobile.
              p.experience__job-list-title Réalisations :
              ul.experience__job-list 
                li.experience__job-list__item Intégration de la maquette
                li.experience__job-list__item Adaptation de l'interface pour petits écrans
                li.experience__job-list__item Animation des interactions de l'interface.
                li.experience__job-list__item Compabilité Internet Explorer 7
    section.group
      div.group__header
        h3.group__title Freelance
        p.group__subtitle Depuis 2015

      div.group__content
        ul.group__list.group__list--dashed
          li.group__list__item.job-title
            div.job-title__content
              p.job-title__title Création web
              p.job-title__skills TYPO3, Worpdress, HTML, CSS, Javascript
          li.group__list__item.experience
            div.experience__content
              h4.experience__title Accepted Action - Fivebet
              p.experience__skills Wordpress
              p.experience__job Migration, maintenance et debugage du site ainsi que de son infrastructure serveur.
          li.group__list__item.experience
            div.experience__content
              h4.experience__title Chall'angel
              p.experience__skills Javascript, VueJS, Stimulus
              p.experience__job Formation de l'équipe aux méthodes de développement front-end modernes
          li.group__list__item.experience
            div.experience__content
              h4.experience__title Golden
              p.experience__skills Wordpress
              p.experience__job Page BtoB
              p.experience__job-list-title Réalisation :
              ul.experience__job-list 
                li.experience__job-list__item Création graphique
                li.experience__job-list__item Développement de l'administration
                li.experience__job-list__item Intégration HTML / CSS
          li.group__list__item.experience
            div.experience__content
              h4.experience__title Chall'angel
              p.experience__skills Symfony, Sass, Javascript, jQuery
              p.experience__job Plateforme de création de challenges
              p.experience__job-list-title Mission :
              ul.experience__job-list 
                li.experience__job-list__item Création d'un nouveau thème pour la plateforme
                li.experience__job-list__item Audit de l'architecture front-end existante
                li.experience__job-list__item Mise en place un système de thème
                li.experience__job-list__item Création d'une marque blanche de référence
          li.group__list__item.experience
            div.experience__content
              h4.experience__title Golden Moustache
              p.experience__skills Wordpress
              p.experience__job Site BtoC, transformation du site en multisite
              p.experience__job-list-title Réalisation :
              ul.experience__job-list 
                li.experience__job-list__item Refonte technique et graphique de la plateforme
                li.experience__job-list__item Développement de thèmes administrables
                li.experience__job-list__item Import des contenus et meta-données de l'ancien site
          li.group__list__item.experience
            div.experience__content
              h4.experience__title Wellkhome Bordeaux
              p.experience__skills Node, React
              p.experience__job Site de location d'appartement de luxe sur bordeaux 
              p.experience__job-list-title Réalisation : 
              ul.experience__job-list 
                li.experience__job-list__item Intégration HTML / CSS du site
                li.experience__job-list__item Communication avec l'API de BookingSync


  article.experiences(lang="fr")      
    header.experiences__header
      h2.experiences__header__title Formateur
      p.experiences__header__subtitle Depuis 2016

    section.group
      div.group__header
        h3.group__title ISEFAC
        p.group__subtitle Depuis 2017<br>Licence, Master<br>Filières Digital et Web
      div.group__content
        ul.group__list.group__list--dashed
          li.group__list__item.experience
            div.experience__content
              p.experience__title Module Développement Web
              p.experience__skills HTML, CSS
              p.experience__job Initiation au développement web et découverte de la chaine de production d'un projet web.
          li.group__list__item.experience
            div.experience__content
              p.experience__title Module Digital Design
              p.experience__skills Wordpress, Figma
              p.experience__job Création et administration de sites avec Wordpress.<br>Conception UX et création de prorotype avec Figma.

    section.group
      div.group__header
        h3.group__title IUT de Lens
        p.group__subtitle 2016 – 2017<br>DUT Métiers du Multimédia et de l'Internet

      div.group__content
        ul.group__list.group__list--dashed
          li.group__list__item.experience
            div.experience__content
              p.experience__title Module Web - CMS
              p.experience__skills PHP, TWIG, CSS
              p.experience__job Formation des étudiants à la création web avec Wordpress; de la découverte de l'outils à sa prise en main avancée.

    section.group
      div.group__header
        h3.group__title Le Chaudron.io
        p.group__subtitle 2016

      div.group__content
        ul.group__list.group__list--dashed
          li.group__list__item.experience
            div.experience__content
              p.experience__title Décathlon - Atelier Javascript
              p.experience__skills Initiation React
              p.experience__job Découverte de React et des bonnes pratiques
              p.experience__job-list-title Objectifs :
              ul.experience__job-list 
                li.experience__job-list__item Appréhender la séparation API / Front-end
                li.experience__job-list__item Se familiariser avec la programmation fonctionnelle
                li.experience__job-list__item Création d'une application de messagerie décentralisée
          li.group__list__item.experience
            div.experience__content
              p.experience__title Décathlon - Atelier Démystiﬁer la programmation
              p.experience__skills Algorithmique, Javascript
              p.experience__job Initiation aux languages du web et de la programation
              p.experience__job-list-title Objectifs :
              ul.experience__job-list 
                li.experience__job-list__item Découverte du HTML / CSS
                li.experience__job-list__item Aborder les blocs élémentaires d'un algorithme
                li.experience__job-list__item Création d'un petit projet d'animation type zootrope
