// Grey scale
:root {
    --white: #fcfdfc;
    --black: #0d0d0d;
    
    // Branding colors
    --brown: #361f17;
    --cream: #fbf3de;
    --teal: #8ac2af;
    --yellow: #febb36;
    --orange: #f7682c;
    
    --color-main: var(--orange);
    --color-link: var(--color-main);
}
