////
/// Fonts
///
/// @group Settings
///
////

/// Font family
$abhaya: 'Work Sans', Helvetica, Arial, sans-serif;
$montserrat: 'Montserrat', Helvetica, Arial, sans-serif;

$font-heading: $montserrat;
$font-text: $abhaya;

/// Fonts weight
/// They must reflect avalaible weights
$fw-regular: 300;
$fw-semibold: 400;
$fw-bold: 500;
