////
/// Fonts
///
/// @group Settings
///
////

@import url('https://fonts.googleapis.com/css?family=Abhaya+Libre:400,600|Montserrat:400,700');

/// Font family
$abhaya: 'Abhaya Libre', serif;
$montserrat: 'Montserrat', Arial, sans-serif;

$font-heading: $montserrat;
$font-text: $abhaya;

/// Fonts weight
/// They must reflect avalaible weights
$fw-regular: 400;
$fw-semibold: 600;
$fw-bold: 700;
