////
/// Layout of the page
///
/// @group Elements
///
////

/// Text default font and color
body { padding: 100px 0 0 60px; background: $black; font-family: $font-text; font-weight: $fw-regular; color: $white; }
