.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  padding: 30px;
  z-index: 10;

  transform: translate(-50%, -50%);
  opacity: 0;
  pointer-events: none;
  transform-origin: 0 0;
  transition: opacity 300ms ease-out;

  background-color: rgba($black, .8);
  box-shadow: inset 0 0 6px 0 $black;
  text-align: left;

  &.is-open {
    transform: translate(-50%, -50%);
    opacity: 1;
    pointer-events: auto;
  }

  &-title {
    margin: 0;
    font-family: $font-heading;
    font-size: 3rem;
    line-height: 1.2;
    font-weight: $fw-regular;
    color: $white;
  }
  &-text {
    margin: 10px;
    font-size: 1.8rem;
    color: $white;
    font-weight: $fw-semibold;
  }
}
