mixin skill(id)
  svg.skill-list-svg(id=id, viewBox="0 0 275 275", width="275", height="275", version="1.2", focusable, xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink")
