doctype html
html(lang="en")
  head
    title Plou - Front-end developer
    meta(name="description" content="Hi there! I'm Clément Plou, a Front-end developer & teacher, based in Lille, France. I'm available to work anywhere.")
    meta(charset="utf-8")
    meta(http-equiv="Content-Type", content="text/html; charset=utf-8")

    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    meta(name="viewport", content=", width=device-width, initial-scale=1")
    link(rel="manifest", href="/manifest.json")

    link(rel="shortcut icon", href="/img/favicon.ico")
    link(rel="apple-touch-icon", href="/img/apple-touch-icon.png")
    link(rel="apple-touch-startup-image", href="/img/apple-touch-icon.png")
    meta(name="apple-mobile-web-app-status-bar-style", content="black-translucent")
    meta(name="apple-mobile-web-app-capable", content="yes")

    meta(name="theme-color", content="#f7682c")

    link(inline, rel="stylesheet", href="/css/main.css")

    meta(property="og:title", content="Plou - Front-end developer")
    meta(property="og:description", content="Hi there! I'm Clément Plou, a Front-end developer & teacher, based in Lille, France. I'm available to work anywhere.")
    meta(property="og:type", content="website")
    meta(property="og:url", content="https://plou.dev")
    meta(property="og:image", content="https://plou.dev/img/logo.png")
    meta(property="og:image:alt", content="plou.dev")

    link(rel="preconnect", href="https://fonts.gstatic.com", crossorigin)
    link( rel="preload", href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=Work+Sans:wght@300;400&display=swap", as="style")

    link(media="print", onload="this.media='all'", href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=Work+Sans:wght@300;400&display=swap", rel="stylesheet")

    noscript
      link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=Work+Sans:wght@300;400&display=swap")


    block preload

  body
    header.header
      h1.header-logo plou<span class="highlight">.dev</span>
      p.header-title Front-end developer<br>& Teacher
      p.header-subtitle Living in Lille, France<br>I'm available to work anywhere.

    .content
      block content

    footer.footer
      img.footer-logo(src="/img/logo.svg",alt="",width="64",height="64")
      ul.footer-contact
        li.footer-contact-item.link-github
          a(href="https://github.com/Plou", target="_blank", rel="noopener") github.com/Plou
        li.footer-contact-item.link-mail
          a(href="mailto:clement@plou.dev") clement@plou.dev
    script(src='/js/main.js')
