doctype html
html
  head
    title Plou - Front-end developer
    meta(name="description" content="Hi there! I'm Clément Plou, a Front-end developer & teacher, based in Lille, France. I'm available to work anywhere.")
    meta(charset="utf-8")
    meta(http-equiv="Content-Type", content="text/html; charset=utf-8")

    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    meta(name="viewport", content=", width=device-width, initial-scale=1")

    link(rel="shortcut icon", href="/img/favicon.ico")
    link(rel="apple-touch-icon", href="/img/apple-touch-icon.png")
    link(rel="stylesheet", href="/css/main.css")

    meta(property="og:title", content="Plou - Front-end developer")
    meta(property="og:description", content="Hi there! I'm Clément Plou, a Front-end developer & teacher, based in Lille, France. I'm available to work anywhere.")
    meta(property="og:type", content="website")
    meta(property="og:url", content="http://plou.io")
    meta(property="og:image", content="http://plou.io/img/logo.png")
    meta(property="og:image:alt", content="plou.io")

    block preload

  body
    header.header
      h1.header-logo plou<span class="highlight">.io</span>
      p.header-title Front-end developer<br>Teacher
      p.header-subtitle Living in Lille, France<br>I'm available to work anywhere.

    .content
      block content

    footer.footer
      img.footer-logo(src="/img/logo.svg")
      ul.footer-contact
        li.footer-contact-item.link-medium
          a(href="https://medium.com/@Plou", target="_blank") medium.com/@Plou
        li.footer-contact-item.link-twitter
          a(href="https://twitter.com/plou_io", target="_blank") twitter.com/plou_io
        li.footer-contact-item.link-github
          a(href="https://github.com/Plou", target="_blank") github.com/Plou
        li.footer-contact-item.link-mail
          a(href="mailto:clement@plou.io") clement@plou.io


    script(src='/js/main.js')

    style
      = "@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,400|Montserrat:100,200,300,400');"

    <!-- Global site tag (gtag.js) - Google Analytics -->
    script(async, src="https://www.googletagmanager.com/gtag/js?id=UA-43771661-1")
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-43771661-1');
