.content {
  background-color: $white;
  text-align: justify;

  @media #{$media-medium} {
    text-align: left;
  }

  &-text {
    padding-left: 20px;
    padding-right: 20px;

    @media #{$media-medium} {
      padding-left: 50px;
      padding-right: 30px;
    }
    @media #{$media-large} {
      padding-left: 100px;
      padding-right: 70px;
    }
  }
}
