.skill-list {
  .skill-list-item {
    display: block;
    margin: 0;
    height: auto;
    cursor: pointer;
    width: 100%;

    @media #{$media-small} {
      display: inline-block;
      width: 1 / 2 *100%;
    }
    @media #{$media-large} {
      width: 1 / 4 *100%;
    }
  }
}
